<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Producto</title>
    
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Agregar Producto</h1>
      <form method="POST" action="{% url 'agregar_producto' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="tipo_prenda">Tipo de Prenda:</label>
          <input
            type="text"
            id="tipo_prenda"
            name="tipo_prenda"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="talla">Talla:</label>
          <input
            type="text"
            id="talla"
            name="talla"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="genero">Género:</label>
          <select id="genero" name="genero" class="form-control" required>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
            <option value="Unisex">Unisex</option>
          </select>
        </div>

        <div class="form-group">
          <label for="marca">Marca:</label>
          <input
            type="text"
            id="marca"
            name="marca"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="precio">Precio:</label>
          <input
            type="number"
            id="precio"
            name="precio"
            step="0.01"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Agregar Producto
        </button>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">
          Volver a la lista de productos
        </a>
      </div>
    </div>
  </body>
</html>